# Comparison between SQL, Kusto, and Pandas

| Category	| SQL Query	| Kusto Query | Pandas |
| --- | --- | --- | --- |
| Select data from table |	`SELECT * FROM ramen` |	`ramen` | `ramen` |
| -- | `SELECT Brand, Style FROM ramen` |	`ramen \| project Brand, Style` | `ramen[['Brand', 'Style']]` |
| -- | `SELECT TOP 100 * FROM ramen` |	`ramen \| take 100` | `ramen.head(100)` |

In [3]:
# Import the required libraries.
import pandas as pd 
import pyodide

ramen = pd.read_csv(pyodide.open_url("https://raw.githubusercontent.com/dynamicwebpaige/nanowrimo-2021/main/data/ramen-ratings.csv"))

# Select all of the data from the table.
ramen

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [5]:
# SELECT brand, style FROM ramen
ramen[['Brand', 'Style']]

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2575           Vifon  Bowl
2576         Wai Wai  Pack
2577         Wai Wai  Pack
2578         Wai Wai  Pack
2579        Westbrae  Pack

[2580 rows x 2 columns]

In [8]:
# SELECT TOP 100 FROM ramen
ramen.head(100)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
95,2485,Nissin,Cup Noodles Shrimps,Cup,Germany,3,NaN
96,2484,Nissin,Demae Ramen Tokyo Soy Sauce,Pack,Germany,4,NaN
97,2483,Paldo,Bul Jjamppong,Bowl,South Korea,5,NaN
98,2482,TTL,Chicken With Chinese Shaoxing Wine,Pack,Taiwan,4.75,NaN
99,2481,Samyang Foods,Buldak Bokkeummyun,Cup,South Korea,3.75,NaN

| Category	| SQL Query	| Kusto Query | Pandas |
| --- | --- | --- | --- |
| Null evaluation | `SELECT * FROM ramen WHERE Top Ten IS NOT NULL` | `ramen \| where isnotnull(Top Ten)` | `ramen[ramen['Top Ten'].notna()]` |

In [10]:
ramen[ramen['Top Ten'].notna()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.5,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.5,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5,2012 #4

| Category	| SQL Query	| Kusto Query | Pandas |
| --- | --- | --- | --- |
| Comparison operators (date) | `SELECT * FROM dependencies WHERE timestamp > getdate()-1` | `ramen \| where timestamp > ago(1d)` | `ramen[ramen['Top Ten'].notna()]` |
| --- | `SELECT * FROM dependencies WHERE timestamp BETWEEN ... AND ...` | `dependencies \| where timestamp > datetime(2016-10-01) and timestamp <= datetime(2016-11-01)` | |

| Category | SQL Query | Kusto Query | Pandas |
| --- | --- | --- | --- |
| Comparison operators (string)	| `SELECT * FROM ramen WHERE Style = "Pack"` | `ramen \| where Style == "Pack"` | |
| --- | `SELECT * FROM ramen WHERE country like "%ore%"` | `dependencies \| where type contains "ore"` | | 
| --- | `SELECT * FROM ramen WHERE country like "South%"` | `dependencies \| where type startswith "South"` | |

In [17]:
ramen[ramen['Style'].str.contains('Pack', na=True)]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN
...,...,...,...,...,...,...,...
2574,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN