In [36]:
import pandas as pd 
from sklearn.preprocessing import MultiLabelBinarizer

In [44]:
# initialize list of lists
data =  [ 
         ['Notebook 1', 33, ['fastai', 'pytorch', 'transformers']], 
         ['Notebook 2', 25, ['numpy', 'matplotlib']], 
         ['Notebook 3', 42, ['numpy', 'scipy']],
         ['Notebook 4', 12, ['matplotlib', 'numpy', 'scipy', 'scikit-learn', 'seaborn', 'pytorch']]
        ]

In [45]:
df = pd.DataFrame(data, columns=['Notebook Name', 'Cells', 'Libraries'])

In [46]:
df

  Notebook Name  Cells                                          Libraries
0    Notebook 1     33                    [fastai, pytorch, transformers]
1    Notebook 2     25                                [numpy, matplotlib]
2    Notebook 3     42                                     [numpy, scipy]
3    Notebook 4     12  [matplotlib, numpy, scipy, scikit-learn, seabo...

In [47]:
mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('Libraries')),
                          columns=mlb.classes_,
                          index=df.index))

In [48]:
df

  Notebook Name  Cells  fastai  ...  scipy  seaborn  transformers
0    Notebook 1     33       1  ...      0        0             1
1    Notebook 2     25       0  ...      0        0             0
2    Notebook 3     42       0  ...      1        0             0
3    Notebook 4     12       0  ...      1        1             0

[4 rows x 10 columns]